.Banner a {
  transition: 0.4s ease;
}

ul:hover a:hover {
  color: #ffd400;
}

.danhhieu-item {
  transition: 0.3s;
}

.danhhieu-item:hover {
  transform: translateY(-5px);
  background: #ffeaea;
}

.khoanhkhac-grid img {
  transition: 0.3s;
}

.khoanhkhac-grid img:hover {
  transform: scale(1.05);
}

.baotang-item
{
    transition: 0.3s;
}

.baotang-item:hover
{
    transform: scale(1.03);
}