@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .Banner {
    top: 0;
    z-index: 10;
  }
  .menu-toggle {
    display: flex;
  }

  #nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #8b0000;
    transition: 0.3s;
    z-index: 1;
  }

  #nav ul {
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }

  #nav a {
    color: white;
  }

  #nav.active {
    right: 0;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .anh_vodich img {
    width: 100%;
  }

  .gioithieu,
  .danhhieu,
  .khoanhkhac,
  .baotang,
  .svd {
    padding: 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}
