@media (max-width: 768px) {
  *{
    box-sizing: border-box;
  }
  body {
    padding: 10px;
      overflow-x: hidden;
      max-width: 100%;
  }
  .players {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .header {
    padding: 15px;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }

  .title h2 {
    font-size: 18px;
  }

  .player {
    width: 200px;
    right: 10px;
    bottom: -30px;
  }

  .menu-toggle {
    display: flex;
  }

  #nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #8b0000;
    transition: 0.3s;
    z-index: 1;
  }

  #nav ul {
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
  }

  #nav a {
    color: white;
  }

  #nav.active {
    right: 0;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}
