@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }

  .menu {
    display: flex;
    width: 100%;
  }

  .menu button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    white-space: nowrap;
  }
  .players {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .header {
    padding: 15px;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }

  .title h2 {
    font-size: 18px;
  }

  .player {
    width: 200px;
    right: 10px;
    bottom: -30px;
  }

  .menu-toggle {
    display: flex;
  }

  #nav {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: #8b0000;
    transition: 0.3s;
    z-index: 1;
  }

  #nav ul {
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }

  #nav a {
    color: white;
  }

  #nav.active {
    right: 0;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }
  .menu {
    display: flex;
    width: 100%;
  }

  .menu button {
    flex: 1;
    padding: 8px 5px;
    font-size: 12px;
    white-space: nowrap;
    width: 5px;
    margin: 5px;
    gap: 0;
  }
  .players {
    grid-template-columns: 1fr;
    width: 95%;
  }

  .header {
    padding: 10px;
    margin: 15px 0;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .title h2 {
    font-size: 16px;
  }

  .player {
    width: 160px;
    right: 5px;
    bottom: -20px;
  }

  #nav {
    width: 220px;
    right: -220px;
  }

  #nav ul {
    gap: 15px;
    padding-left: 15px;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}
