body {
  font-family: sans-serif;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  align-items: center;
  overflow-x: hidden;
}

/*header*/
.Banner a {
  transition: 0.4s ease;
}
.Banner a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.Banner {
  background-color: #b30000;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 0 0 30px 0;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.Banner ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.Banner ul li {
  margin: 0 16px;
}

.logo img {
  width: 70px;
  margin-left: 20px;
}



/*footer*/
.footer {
  background: #2a2a2a;
  color: white;
  padding: 50px;
  width: 100%;
  margin: 50px 0 0 0;
  z-index: 1;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #333;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}

.footer-col p {
  margin: 6px 0;
  color: #ccc;
}
.footer-col a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 6px 0;
}
.social {
  display: flex;
  gap: 15px;
}
.social a
{
  background-color: #3f3f3f;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;         
  align-items: center;           
  justify-content: center;  
}
.social a img
{
  width: 60%;
}

.social a:hover
{
  background-color: #b30000;
  transition: 0.3s;
}


.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #fff;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
}